@model AspnetCoreSampleProject.Models.Computers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Computers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComputerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComputerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstanceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstanceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.serialNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
